# 02 PANDAS

¿Por qué Pandas?
Pandas está enfocada a la manipulación y análisis de datos.

* Al estar construido sobre NumPy es veloz.
* Requiere poco código para manipular los datos.
* Soporta múltiples formatos de archivos.
* Ordena los datos en una alienación inteligente.
* Se pueden manejar grandes cantidades de datos, hacer analítica y generar dashboards.

* Escrita por Wes McKinney
* Creada en el 2008.
* Construida sobre NumPy.
* 100% Open Source.
* También se encuentra en Github.

### Importar pandas

> _import pandas as pd_

> pd.\_\_version\_\_

In [7]:
import pandas as pd

### Series

Pandas Series Es muy parecido a un array de una dimensión (o vector) de NumPy.

* Arreglo unidimensional indexado
* Búsqueda por índice
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos

definimos una lista con índices específicos

> pd.Series(['Pedro','Joana','Angel','Paco'], index=[1,7,10,30])

In [3]:
pd.Series(['Argentina','Uruguay','Brasil','Colombia','Ecuador','Peru','Chile','Bolivia'], 
          index=[85,75,80,65,60,50,40,25])

85    Argentina
75      Uruguay
80       Brasil
65     Colombia
60      Ecuador
50         Peru
40        Chile
25      Bolivia
dtype: object

guardamos en una variable la serie
> names = pd.Series(['Pedro','Joana','Angel','Paco'], index=[1,7,10,30])

> names

In [ ]:
eurocopa= pd.Series(['Francia','Inglaterra','Portugal','España','Alemania','Italia','Paises_bajos'], 
eurocopa

También si eliminamos la propiedad del index 

Nos generá un index por defaul comenzando en 0

names = pd.Series(['Pedro','Joana','Angel','Paco'])

names

Otra manera de definir una Series Pandas es:

> dict = {1:'Pedro',10:'Manuel',4:'Pancho',80:'Martin'}

> pd.Series(dict)

In [8]:
jugadores = {
    10:'messi',
    1:'dibbu_martinez',
    2:'araujo',
    3:'romero',
    4:'colombiano',
    5:'valverde',
    6:'mc calister',
    7:'vini jr',
    8:'julian alvarez',
    9:'darwin nuñez',
    11:'dimaria'
}
jugadores_copa=pd.series(jugadores)
jugadores_copa

AttributeError: module 'pandas' has no attribute 'series'


Como en Numpy podemos también acceder de forma indexada.

> names[1]

In [ ]:
jugadores_copa[1]

También podemos hacer Slicing

> names[0:3]

In [ ]:
jugadores_copa[2:5]
jugadores_copa[2:]

---

### Pandas DataFrame

Muy parecido a las estructuras matriciales trabajadas con NumPy.

* Estructura principal
* Arreglo de dos dimensiones
* Búsqueda por índice (columnas o filas)
* Slicing
* Operaciones aritméticas
* Distintos tipos de datos
* Tamaño variable

Crear un dataframe


Podemos hacer un diccionario que contenga listas.

> dict = {'Jugador':['Alex','Katy','Ana','Jorch'], <br>
         'Altura':[182.0,156.23,162.0,188.0], <br>
         'Puntos':[100,200,50,300]}\n

In [12]:
copa_america={
    'paises':['Argentina','Uruguay','Brasil'],
    'Jugadores':['messi','suarez','vini jr'],
    'titulo':[2021,2021,2019]
}

Guardamos en una variable, Agregamos nuestra propia indexación.

> players = pd.DataFrame(dict, index=[1,2,3,4])

> players

In [11]:
df_copa_america=pd.DataFrame(copa_america, index=[1,2,3])
df_copa_america

      paises Jugadores  titulo
1  Argentina     messi    2021
2    Uruguay    suarez    2021
3     Brasil   vini jr    2019

Podemos visualizar sólo las columnas.

> players.columns

In [14]:
df_copa_america.columns

Index(['paises', 'Jugadores', 'titulo'], dtype='object')

Podemos visualizar los índices.

> players.index

In [15]:
df_copa_america.index

Index([1, 2, 3], dtype='int64')

---

### Leer un arcivo csv
_titulos = pd.read_csv('data/titles.csv' )_

_titulos.head()_

In [20]:
df_libros = pd.read_csv('data/data/books.csv')
# mostrar los primeros 5 libros 
df_libros.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

_elenco = pd.read_csv('data/cast.csv', encoding='utf-8')_

_elenco.head()_

> titulos= pd.read_csv('data/titles.csv',encoding='utf-8')

> titulos.head()

### Leer Hojas Excel

> Pip install openpyxl

> df = pd.read_excel('data/titles.xlsx') 

> print(df.head())

In [25]:
df_titulos = pd.read_excel('data/data/titles.xlsx')
df_titulos

                                        title  year Unnamed: 2  Unnamed: 3
0                                      Mahler  1974        NaN         NaN
1                Ogon, voda i... mednye truby  1968        NaN         NaN
2       Ana Nojoom bent alasherah wamotalagah  2014        NaN         NaN
3                           Malu de Bicicleta  2010        NaN         NaN
4                  Nazareno Apostol: Boy Ahas  1989        NaN         NaN
...                                       ...   ...        ...         ...
230402                          El lobo negro  1981        NaN         NaN
230403                   Komu na Rusi zhit...  1989        NaN         NaN
230404                               Senotaji  2013        NaN         NaN
230405                      The Leopard Woman  1920        NaN         NaN
230406                     Mio caro assassino  1972        NaN         NaN

[230407 rows x 4 columns]

leer archivos .xlx
> pip install xlrd

> df = pd.read_excel('data/titles.xls') 

> print(df.head())

In [27]:
df_titulos_xls=pd.read_excel('data/data/titles.xls')
df_titulos_xls

                                       title  year Unnamed: 2  Unnamed: 3
0                                     Mahler  1974        NaN         NaN
1               Ogon, voda i... mednye truby  1968        NaN         NaN
2      Ana Nojoom bent alasherah wamotalagah  2014        NaN         NaN
3                          Malu de Bicicleta  2010        NaN         NaN
4                 Nazareno Apostol: Boy Ahas  1989        NaN         NaN
...                                      ...   ...        ...         ...
65530                          Nixon's Nixon  2017        NaN         NaN
65531                            Dive Bomber  1941        NaN         NaN
65532                         Port of Memory  2010        NaN         NaN
65533                             La Monjita  1931        NaN         NaN
65534                               Moontrap  1989        NaN         NaN

[65535 rows x 4 columns]

Leer PDF
> pip install pypdf

> from pypdf import PdfReader

> reader = PdfReader('data/titles.pdf')
> number_of_pages = len(reader.pages)
> page = reader.pages[0]
> text = page.extract_text()
> print(text)

In [31]:
from pypdf import PdfReader
reader = PdfReader('data/data/titles.pdf')
number_of_pages=len(reader.pages)
page=reader.pages[1]
text=page.extract_text()
print(text)

titles
Page 2The Soul of a Child 1916
Nunca 1998
Grabenplatz 17 1958
Ashour kalb el assad 1961
Alexis 2014
Carson City Raiders 1948
Growing Up Thirty 2005
Miehen tie 1940
Garam Masala 2005
Be Home 2013
Hitchhike to Hell 1941
Awake 2007
The Girl Who Forgot 1940
Chilli Is Dead 2010
Voyna Printsessy 2013
Phenomena 1985
Emei fei jian xia 1950
Spellbinder 1988
Between the Pipes 2017
Stuck Between Stations 2011
Gimba, Presidente dos Valentes 1963
Detective Craig's Coup 1914
Porto Il Velo Adoro I Queen 2016
Reverie 2011
Vreme za zheni 2006
Jubilee 2000
Chinnabbayi 1997
Pryzhok s kryshi 1977
Pravda 1957
Lovely 2016
La coscienza della farfalla 2012
Tajouj 1977
The Sandwich Thief 2009
Il punto rosso 2006
Estrella del sur 2002
Red 2002
In Your Orbit 2012
Pelle erobreren 1987
Retribution (IX) 2016
A Clockwork Orange 1971
Dead Lot 2016
Fra' Manisco cerca guai 1961
Frontera sin ley 1971
San tiao ren 1999
Havura Shekazot 1962
Peri erotos 1982
Strawberry Bubblegums 2016
Colors 2006
Kidnapping! Paga o uccidiamo tuo figlio 1969
Sree 2005
Katha Parayumpol 2007
Gardaab 2016
Todd Whitewood 2016

---

### Filtrado con loc y iloc

Cuando queremos navegar por un dataFrame estas funciones permiten filtrar datos de manera más específica

* loc
* iloc

Podemos acceder a nuestro DataFrame a traves de slicing e indexación.
> df_books[0:4]

acceder por columnas, muestra todo el contenido de esa columna.
> df_books['Name']

Si quisieramos hacer nuestra busqueda de más parametros debemos usar doble [[]]
> df_books[['Name','Author','Year']]

#### .loc
Filtra según un label

Para poder visualizar todo
> df_books.loc[:]

Podemos filtrar por medio de indices.
> df_books.loc[0:4]

Podemos filtrar a traves de etiquetas. Y de manera indexada.
> df_books.loc[0:4, ['Name', 'Author']]

También podemos hacer operación con los valores.
> df_books.loc[:,['Reviews']] * 2

También podemos filtrar con operaciones lógicas.
> df_books.loc[:,['Author']] == 'JJ Smith'

#### .iloc
Filtra mediante índices.

Le decimos que queremos todo.
> df_books.iloc[:]

Ahora nuestras busuqedas van a ser por indice. Y no por etiquetas.

> df_books.iloc[:,0:3]

Es algo similar pero ahora estamos accediente a traves de los indices.

> df_books.iloc[1,3]

Podemos operar con los liltros. 

> df_books.iloc[1,3] /2

Aquí le pedimos que nos muestre desde el primer valor hasta el tercero. A nivel de Filas
Con el segundo parametro, fenimos a partir del tercer valor hasta el último a nivel de columnas.

> df_books.iloc[:2,2:]

---

#### Funciones principales de Pandas

.head()
Mostrar las primeras 5 líneas de registro

Por defaul nos muestra las primeras 5 líneas
> df_books.head()

Pero podemos elegir las que queramos
> df_books.head(2)

.info()

Mostrar los diferentes datos que contiene el DataFrame

Nos muestra toda la información de nuestro Dataframe
> df_books.info()

.describe()

Obtener diferentes datos estadísticos de las columnas numéricas.

Sólo de las columnas numéricas
> df_books.describe()

.tail()¶

Mostrar los últimos 5 registros del DataFrame

De igual manera como funciona .head() podemos usar .tail()
> df_books.tail()

> df_books.tail(2)

> df_books.tail(10)

 Conocer el tamaño del dataframe

_len(titulos)_

_len(elenco)_

.memory_usage()

Obtener el uso de la memoria de cada columna

Dónde con deep=True le indicamos que queremos una busqueda profunda
> df_books.memory_usage(deep=True)

.value_counts()

Obtener cuantos datos tenemos de algo en específico

Me va a contar cuantos valores tengo en mi dataframe de una busqueda específica.
> df_books['Author'].value_counts()

.drop_duplicates()

Eliminar registros duplicados.

Vamos a entrar al registro del posición 0
> df_books.iloc[0]

Duplicamos nuestro ejemplo
> df_books = df_books.append(df_books.iloc[0])

Vemos que ahora se encuentra al principio y al final los mismos valores.
> df_books

Simplemente llamando a la función podemos eliminar todos los duplicados.
> df_books.drop_duplicates()

También podemos agregar parámetros
Con este le decimos que sólo borré el último
> df_books.drop_duplicates(keep='last')

---

#### Agregar o eliminar datos con Pandas¶
Muchas ocasiones necesitamos agregar, eliminar o separar datos y pandas nos ofrece varias funciones para que este proceso se vuelva mucho más sencillo.

Esto lo logramos con:

* pd.drop Para eliminar
* pd.append Para Agregar

Cargamos nuestro archivo csv
> df_books = pd.read_csv(('/content/example.csv'))

Retornar las primeras 5 filas
> df_books.head()

##### Drop columns

Eliminar columnas de la salida pero no del DataFrame

Recordemos que axis=0 es para las filas y axis=1 para las columnas.
> df_books.drop('Genre', axis=1).head(2)

Para eliminar de manera definitiva. Usamos inplace=True
> df_books = df_books.drop('Year', axis=1, inplace=True)


Eliminar Columnas Con Del

> del df_books['Price']

> df_books

Eliminar Filas

Elimina la fila 0 del DataFrame
> df_books.drop(0, axis=0)

elimina las filas 0, 1 y 2 del dataFrame
> df_books.drop([0,1,2], axis=0)

elimina las primeras 10 filas del dataFrame
> df_books.drop(range(0,10), axis=0)

---

#### Add Columns

Agregar una nueva columna con valores Nan

> df_books['Nueva_Columna'] = np.nan

Con esto lo que indicamos es que no es un valor númerico.

> df_books

Muestra el numero de filas que posee el dataFrame
> df_books.shape[0]

Estamos agregando valores con un rango de numpy
> data = np.arange(0,df_books.shape[0])

> data

Agregamos una nueva columna con la información que ya hicimos.
> df_books['Rango'] = data

> df_books

Duplica las filas del dataFrame porque se agrega a si mismo

> df_books.append(df_books)

####  Manejo de datos nulos.

Los datos nulos son dolores de cabeza para este mundo de la ciencia de datos y se van a encontrar mucho en nuestros DataFrames

Comenzamos creando un DataFrame con algunos valores nulos

> import pandas as pd
> import numpy as np

> dict = {
    'Col1':[1,2,3,np.nan],
    'Col2':[4,np.nan,6,7],
    'Col3':['a','b','c',None]
}

> df = pd.DataFrame(dict)

Aquí nos entrega una lista con datos booleanos
True hay valor, False no lo hay.
> df.isnull()

Identificar valores nulos con un valor numérico
Esa misma visualización a manera binaria.
> df.isnull()*1

Podemos sustituir los valores nulos con un valor que deseemos.
también pudiera son con un valor numérico
> df.fillna('Es nulo')

También con .fillna podemos realizar multiples operaciones
Aquí pedimos que nos aplique la media.

> df.fillna(df.mean())

.dropna()

Eliminar valores nulos Así de sencillo podemos eliminar todos los datos nulos de nuestro DataFrame.

> df.dropna()

---

#### Filtrado por condiciones con Pandas

Funciona por lógica booleana y retorna los valores que están en “True”. 
Es muy útil porque en ocasiones queremos filtrar o separar datos.

Create a sample dataframe

> Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 35, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
        
> df = pd.DataFrame(Biodata)

Save the dataframe to a CSV file

> df.to_csv('data/Biodata.csv', index=False)

Recorrer Filas

> data = {'name': ['Mike', 'Doe', 'James'], 'age': [18, 19, 29]}
> df = pd.DataFrame(data)

loop through the rows using iterrows()
> for index, row in df.iterrows():

>    print(row['name'], row['age'])

Recorrer columnas

> df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

Loop through columns using a for loop
> for col in df.columns:
>    print(col)

Eliminar Columnas

create a sample dataframe
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'gender': ['F', 'M', 'M']
        }
df = pd.DataFrame(data)

display the original dataframe
print('Original DataFrame:\n', df)

drop the 'gender' column
df = df.drop(columns=['gender'])

display the modified dataframe
print('Modified DataFrame:\n', df)

Eliminar multiples columnas

In [ ]:
# create a sample dataframe
data = {'name': ['John', 'Mary', 'Peter'],
        'age': [30, 25, 35],
        'gender': ['Male', 'Female', 'Male'],
        'city': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# remove the 'gender' and 'city' columns
df.drop(columns=['gender', 'city'], inplace=True)

# print the modified dataframe
print(df)

--- 
### Group By


> df.groupby('Payment')['Quantity'].sum()

> df.groupby('Payment')['Quantity'].count()

> df.groupby(['Payment', 'Customer type'])['Quantity'].sum()

> df.groupby('Payment')['Quantity'].agg([np.sum, np.mean])

### Sort

data = {'item': ['laptop', 'monitor', 'HDMI', 'speaker'],
        'cost': [500, 300, 700, 600]
       }

df = pd.DataFrame(data)

sorted_data = df.sort_values(by='cost', ascending=True)

sorted_data

### Rename

students = {
    "firstname": ["John", "Jane", "Jade"], 
    "lastname": ["Doe", "Done", "Do"]
}

convert student names into a Dataframe

df = pd.DataFrame(students)

df.rename(columns={"firstname": "FIRSTNAME", "lastname": "LASTNAME"}, inplace=True)

print(df)

import pandas as pd

students = {
    "firstname": ["John", "Jane", "Jade"], 
    "lastname": ["Doe", "Done", "Do"]
}

convert student names into a Dataframe

df = pd.DataFrame(students)
df.columns = ["FIRSTNAME", "SURNAME"]

print(df)