# Seaborn

Importar Librerias

> import numpy as np

> import pandas as pd

> import seaborn as sns

> import matplotlib.pyplot as plt

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#read csv for analysis

> data=pd.read_csv('data/StudentsPerformance.csv')

#we'll see the first five lines.

> data.head()

In [2]:
data = pd.read_csv('data/data/StudentsPerformance.csv')

we'll see the last five lines.

> data.tail()

In [3]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

random data 

> data.sample(5)

In [4]:
data.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
165,female,group C,bachelor's degree,standard,completed,96,100,100
217,female,group C,high school,free/reduced,none,34,42,39
299,male,group D,associate's degree,free/reduced,none,90,87,75
908,female,group C,bachelor's degree,free/reduced,none,67,75,72
505,female,group B,some high school,standard,none,82,82,80

extraer una fraccion del dataset

> data.sample(frac=0.1)

In [5]:
#10# muestra aleatoria
data.sample(frac=0.1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
974,female,group A,some college,standard,none,54,63,67
461,male,group B,some college,free/reduced,none,54,54,45
159,male,group D,associate's degree,free/reduced,none,66,62,64
780,female,group D,associate's degree,free/reduced,none,46,56,57
...,...,...,...,...,...,...,...,...
63,female,group C,associate's degree,standard,none,69,80,71
388,female,group D,high school,standard,none,62,64,64
963,female,group C,some high school,free/reduced,completed,65,76,75
475,female,group D,bachelor's degree,standard,completed,71,76,83
96,male,group B,some high school,standard,completed,65,66,62

#it is a process that shows the property value in the data set and shows the numbers in the register values.

> data.info()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

> data.iloc[:,0:3].dtypes

In [7]:
#mostrar la información de 3 columnas 
data.iloc[:,0:3].dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
dtype: object

#It is a function that shows the analysis of numerical values.

> data.describe()

In [8]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#It shows the data types in the data set.

> data.dtypes

In [10]:
data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

control data

> data.isnull().values.any()

 all data control for null values

> data.isnull().sum()

show columns
> for i,col in enumerate(data.columns):

>     print(i+1,". column is ",col)

rename columns

data.rename(columns=({'gender':'Gender','race/ethnicity':'Race/Ethnicity'
                     ,'parental level of education':'Parental_Level_of_Education'
                     ,'lunch':'Lunch','test preparation course':'Test_Preparation_Course'
                      ,'math score':'Math_Score','reading score':'Reading_Score'
                     ,'writing score':'Writing_Score'}),inplace=True)

show columns

    for i,col in enumerate(data.columns):

     print(i+1,". column is ",col)

#show count Gender

    data['Gender'].value_counts()

show Gender's unique

    data['Gender'].unique()


# Bar Plot

    sns.barplot(x=data['Gender'].value_counts().index,y=data['Gender'].value_counts().values)
    plt.title('Genders other rate')
    plt.ylabel('Rates')
    plt.legend(loc=0)
    plt.show()



    sns.set(style='whitegrid')
    ax=sns.barplot(x=data['Gender'].value_counts().index,y=data['Gender'].value_counts().values,palette="Blues_d",hue=['female','male'])
    plt.legend(loc=8)
    plt.xlabel('Gender')
    plt.ylabel('Frequency')
    plt.title('Show of Gender Bar Plot')
    plt.show()

plt.figure(figsize=(7,7))
sns.barplot(x=data['Race/Ethnicity'].value_counts().index,
              y=data['Race/Ethnicity'].value_counts().values)
              
plt.xlabel('Race/Ethnicity')
plt.ylabel('Frequency')
plt.title('Show of Race/Ethnicity Bar Plot')
plt.show()

plt.figure(figsize=(10,7))

sns.barplot(x = "Parental_Level_of_Education", y = "Writing_Score", hue = "Gender", data = data)

plt.xticks(rotation=45)
plt.show()

plt.figure(figsize=(12,7))
sns.catplot(y="Gender", x="Math_Score",
                 hue="Parental_Level_of_Education",
                 data=data, kind="bar")
plt.title('for Parental Level Of Education Gender & Math_Score')
plt.show()

# Point Plot

#Gender show point plot
data['Race/Ethnicity'].unique()
len(data[(data['Race/Ethnicity']=='group B')].Math_Score)
f,ax1=plt.subplots(figsize=(25,10))
sns.pointplot(x=np.arange(1,191),y=data[(data['Race/Ethnicity']=='group B')].Math_Score,color='lime',alpha=0.8)
sns.pointplot(x=np.arange(1,191),y=data[(data['Race/Ethnicity']=='group B')].Reading_Score,color='red',alpha=0.5)
#sns.pointplot(x=np.arange(1,191),y=data[(data['Race/Ethnicity']=='group B')].Math_Score,color='lime',alpha=0.8)
plt.xlabel('Group B index State')
plt.ylabel('Frequency')
plt.title('Group B Math Score & Reading_Score')
plt.xticks(rotation=90)
plt.grid()
plt.show()

ax = sns.pointplot(x="Reading_Score", y="Writing_Score", hue="Gender",data=data,markers=["o", "x"],linestyles=["-", "--"])
plt.xticks(rotation=90)
plt.show()

# Joint Plot
```python
plt.figure(figsize=(10,10))
sns.jointplot(x=np.arange(1,191),y=data[(data['Race/Ethnicity']=='group B')].Math_Score,color='lime',alpha=0.8)
plt.xlabel('Group B index State')
plt.ylabel('Frequency')
plt.title('Group B Frequency Race/Ethnicity')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

```python
plt.figure(figsize=(10,10))
sns.jointplot(x=np.arange(1,191),y=data[(data['Race/Ethnicity']=='group B')].Math_Score,color='lime',kind='hex',alpha=0.8)
plt.xlabel('Group B index State')
plt.ylabel('Frequency')
plt.title('Group B Frequency Race/Ethnicity')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

```python
plt.figure(figsize=(10,10))
sns.jointplot(x=np.arange(1,191),y=data[(data['Race/Ethnicity']=='group B')].Math_Score,color='lime',space=0,kind='kde')
plt.xlabel('Group B index State')
plt.ylabel('Frequency')
plt.title('Group B Frequency Race/Ethnicity')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

# Pie Chart

```python
labels=data['Race/Ethnicity'].value_counts().index
colors=['blue','red','yellow','green','brown']
explode=[0,0,0.1,0,0]
values=data['Race/Ethnicity'].value_counts().values

#visualization
plt.figure(figsize=(7,7))
plt.pie(values,explode=explode,labels=labels,colors=colors,autopct='%1.1f%%')
plt.title('Race/Ethnicity According Analysis',color='black',fontsize=10)
plt.show()

# Lm Plot

```python
sns.lmplot(x='Math_Score',y='Reading_Score',data=data)
plt.xlabel('Math Score')
plt.ylabel('Reading Score')
plt.title('Math Score vs Reading Score')
plt.show()

```python
sns.lmplot(x='Math_Score',y='Writing_Score',hue='Gender',data=data)
plt.xlabel('Math Score')
plt.ylabel('Writing Score')
plt.title('Math Score vs Writing Score')
plt.show()

# Kde Plot

seaborn.kdeplot(data, data2=None, shade=False, vertical=False, kernel='gau', bw='scott', gridsize=100, cut=3, clip=None, legend=True, cumulative=False, shade_lowest=True, cbar=False, cbar_ax=None, cbar_kws=None, ax=None, **kwargs)

data : 1d array-like
data2: 1d array-like, optional
shade : bool, optional
vertical : bool, optional
kernel : {‘gau’ | ‘cos’ | ‘biw’ | ‘epa’ | ‘tri’ | ‘triw’ }, optional
cut : scalar, optional
legend : bool, optional
ax : matplotlib axes, optiona

```python
sns.kdeplot(data['Math_Score'])
plt.xlabel('Values')
plt.ylabel('Frequency')
plt.title('Math Score Kde Plot System Analysis')
plt.show()

```python
sns.kdeplot(data['Reading_Score'],fill=True,color='r')
sns.kdeplot(data['Writing_Score'],fill=True,color='b')
plt.xlabel('Values')
plt.ylabel('Frequency')
plt.title('Reading Score vs Writing Score Kde Plot System Analysis')
plt.show()

# Box Plot

seaborn.boxplot(x=None, y=None, hue=None, data=None, order=None, hue_order=None, orient=None, color=None, palette=None, saturation=0.75, width=0.8, dodge=True, fliersize=5, linewidth=None, whis=1.5, notch=False, ax=None, **kwargs)

x, y, hue : names of variables in data or vector data, optional
data : DataFrame, array, or list of arrays, optional
color : matplotlib color, optional
dodge : bool, optional
linewidth : float, optional
ax : matplotlib Axes, optional

```python
sns.set(style='whitegrid')
sns.boxplot(data['Math_Score'])
plt.show()

```python
sns.boxplot(x=data['Gender'],y=data['Math_Score'])
plt.show()

```python
sns.boxplot(x=data['Race/Ethnicity'],y=data['Writing_Score'],hue=data['Gender'],palette="Set3")
plt.show()

# Pair Plot

seaborn.pairplot(data, hue=None, hue_order=None, palette=None, vars=None, x_vars=None, y_vars=None, kind='scatter', diag_kind='auto', markers=None, height=2.5, aspect=1, dropna=True, plot_kws=None, diag_kws=None, grid_kws=None, size=None)

data : DataFrame
hue : string (variable name), optional
hue_order : list of strings
palette : dict or seaborn color palette
markers : single matplotlib marker code or list, optional
dropna : boolean, optional
height : scalar, optional

```python
sns.pairplot(data)
plt.show()

```python
sns.pairplot(data,diag_kind='kde')
plt.show()

```python
sns.pairplot(data,kind='reg')
plt.show()

```python
sns.pairplot(data, hue="Reading_Score")
plt.show()

# Line Plot

seaborn.lineplot(x=None, y=None, hue=None, size=None, style=None, data=None, palette=None, hue_order=None, hue_norm=None, sizes=None, size_order=None, size_norm=None, dashes=True, markers=None, style_order=None, units=None, estimator='mean', ci=95, n_boot=1000, sort=True, err_style='band', err_kws=None, legend='brief', ax=None, **kwargs)

x, y : names of variables in data or vector data, optional
hue : name of variables in data or vector data, optional
size : name of variables in data or vector data, optional
style : name of variables in data or vector data, optional
data : DataFrame
palette : palette name, list, or dict, optional

```python
data[data['Gender']=='male']['Math_Score'].value_counts().sort_index().plot.line(color='b')
data[data['Gender']=='female']['Math_Score'].value_counts().sort_index().plot.line(color='r')
plt.xlabel('Math_Score')
plt.ylabel('Frequency')
plt.title('Math_Score vs Frequency')
plt.show()

```python
sns.lineplot(x='Math_Score',y='Reading_Score',data=data)
plt.show()