# Practica de Pandas

## Series

1. Crear y visualizar un arreglo unidimensional como una estructura Series.

In [1]:
import pandas as pd
datos = [10, 20, 30, 40, 50]  # Lista de datos
serie = pd.Series(datos)
print("Serie creada:")
print(serie)

Serie creada:
0    10
1    20
2    30
3    40
4    50
dtype: int64

2. Convertir un objeto Series a una lista Python.

In [2]:
import pandas as pd

#Serie de ejemplo
datos = [10, 20, 30, 40, 50]  # Lista de datos
serie = pd.Series(datos)

#Método tolist()
lista_resultante_1 = serie.tolist()

# Método 2: Acceder al atributo values
lista_resultante_2 = serie.values.tolist()

# Imprimir las listas resultantes
print("Lista convertida usando tolist():", lista_resultante_1)
print("Lista convertida usando values.tolist():", lista_resultante_2)

Lista convertida usando tolist(): [10, 20, 30, 40, 50]
Lista convertida usando values.tolist(): [10, 20, 30, 40, 50]

3. Aplicar las operaciones aritméticas básicas sobre objetos Series.

In [4]:
# Crear dos objetos Series
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([10, 20, 30, 40, 50])

# Suma
suma = serie1 + serie2
print("Suma:\n", suma)

# Resta
resta = serie1 - serie2
print("Resta:\n", resta)

# Multiplicación
multiplicacion = serie1 * serie2
print("Multiplicación:\n", multiplicacion)

# División
division = serie1 / serie2
print("División:\n", division)

Suma:
 0    11
1    22
2    33
3    44
4    55
dtype: int64
Resta:
 0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64
Multiplicación:
 0     10
1     40
2     90
3    160
4    250
dtype: int64
División:
 0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

4. Crear dos series y usar operadores relacionales para comparar objetos Series.

In [5]:
# Crear dos objetos Series
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([5, 4, 3, 2, 1])

# Mayor que
mayor_que = serie1 > serie2
print("Mayor que:\n", mayor_que)

# Menor que
menor_que = serie1 < serie2
print("Menor que:\n", menor_que)

# Mayor o igual que
mayor_o_igual_que = serie1 >= serie2
print("Mayor o igual que:\n", mayor_o_igual_que)

# Menor o igual que
menor_o_igual_que = serie1 <= serie2
print("Menor o igual que:\n", menor_o_igual_que)

# Igual
igual = serie1 == serie2
print("Igual:\n", igual)

# Diferente
diferente = serie1 != serie2
print("Diferente:\n", diferente)

Mayor que:
 0    False
1    False
2    False
3     True
4     True
dtype: bool
Menor que:
 0     True
1     True
2    False
3    False
4    False
dtype: bool
Mayor o igual que:
 0    False
1    False
2     True
3     True
4     True
dtype: bool
Menor o igual que:
 0     True
1     True
2     True
3    False
4    False
dtype: bool
Igual:
 0    False
1    False
2     True
3    False
4    False
dtype: bool
Diferente:
 0     True
1     True
2    False
3     True
4     True
dtype: bool

5. Convertir un diccionario Python en un objeto Series.

In [6]:
# Crear un diccionario
diccionario = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Convertir el diccionario en un objeto Series
serie = pd.Series(diccionario)

# Imprimir la Series resultante
print(serie)

a    1
b    2
c    3
d    4
e    5
dtype: int64

6. Convertir un arreglo NumPy en un objeto Series

In [7]:
import numpy as np

# Crear un arreglo de NumPy
arreglo_numpy = np.array([10, 20, 30, 40, 50])

# Convertir el arreglo de NumPy en un objeto Series
serie = pd.Series(arreglo_numpy)

# Imprimir la Series resultante
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Extraer una fila de un DataFrame como un objeto Series.

datos = {'A': [1, 2, 3, 4, 5], 'B': [6, 5, 4, 3, 2], 'C': [2, 3, 5, 7, 11]}

In [8]:
# Crear un DataFrame a partir del diccionario
datos = {'A': [1, 2, 3, 4, 5], 'B': [6, 5, 4, 3, 2], 'C': [2, 3, 5, 7, 11]}
df = pd.DataFrame(datos)

# Imprimir el DataFrame
print("DataFrame:")
print(df)

# Extraer la fila en el índice 2 (tercera fila) usando loc
fila_loc = df.loc[2]
print("\nFila extraída usando loc (índice 2):")
print(fila_loc)

# Extraer la fila en el índice 2 (tercera fila) usando iloc
fila_iloc = df.iloc[2]
print("\nFila extraída usando iloc (índice 2):")
print(fila_iloc)

DataFrame:
   A  B   C
0  1  6   2
1  2  5   3
2  3  4   5
3  4  3   7
4  5  2  11

Fila extraída usando loc (índice 2):
A    3
B    4
C    5
Name: 2, dtype: int64

Fila extraída usando iloc (índice 2):
A    3
B    4
C    5
Name: 2, dtype: int64

8. Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [9]:
# Crear una Series a partir de los datos
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
serie = pd.Series(datos)

# Calcular el promedio
promedio = serie.mean()

# Calcular la desviación estándar
desviacion_estandar = serie.std()

# Imprimir los resultados
print("Promedio:", promedio)
print("Desviación estándar:", desviacion_estandar)

Promedio: 12.9
Desviación estándar: 9.024041962077378

9. Calcular los valores mínimo y máximo de un objeto Series.

datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [11]:
# Crear una Series a partir de los datos
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
serie = pd.Series(datos)

# Calcular el valor mínimo
valor_minimo = serie.min()

# Calcular el valor máximo
valor_maximo = serie.max()

# Imprimir los resultados
print("Valor mínimo:", valor_minimo)
print("Valor máximo:", valor_maximo)

Valor mínimo: 2
Valor máximo: 29

10. Obtener estádisticas básicas de un objeto Series con el método describe.

datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [12]:
# Crear una Series a partir de los datos
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
serie = pd.Series(datos)

# Obtener estadísticas descriptivas
estadisticas = serie.describe()

# Imprimir las estadísticas
print(estadisticas)

count    10.000000
mean     12.900000
std       9.024042
min       2.000000
25%       5.500000
50%      12.000000
75%      18.500000
max      29.000000
dtype: float64

11.  Obtener los elementos pares e impares de un objeto Series numérico.

datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [14]:
# Crear una Series a partir de los datos
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
serie = pd.Series(datos)

# Filtrar los elementos pares
elementos_pares = serie[serie % 2 == 0]

# Filtrar los elementos impares
elementos_impares = serie[serie % 2 != 0]

# Imprimir los resultados
print("Elementos pares:")
print(elementos_pares)

print("\nElementos impares:")
print(elementos_impares)

Elementos pares:
0    2
dtype: int64

Elementos impares:
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64

12. Comprobar si una serie contiene valores NaN.

datos = ['20', '30', 'Python', '50', 100]

In [15]:
# Crear una Series a partir de los datos
datos = ['20', '30', 'Python', '50', 100]
serie = pd.Series(datos)

# Comprobar si la Series contiene valores NaN
contiene_nan = serie.isnull().any()

# Imprimir el resultado
print("La Series contiene valores NaN:", contiene_nan)

La Series contiene valores NaN: False

13. Eliminar los valores NaN de una serie con el método dropna.

datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']

In [16]:
# Crear una Serie a partir de los datos
datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']
serie = pd.Series(datos)

# Eliminar los valores NaN
serie_sin_nan = serie.dropna()

# Imprimir la Serie resultante
print(serie_sin_nan)

0       2.3
1    Python
2        90
3       100
5       0.5
6        .9
dtype: object

14. Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

datos = [1, 3, 7, 11, 'Python', '-0.5', np.nan]

In [17]:
# Crear una Serie a partir de los datos
datos = [1, 3, 7, 11, 'Python', '-0.5', np.nan]
serie = pd.Series(datos)

# Reemplazar los valores NaN con un valor arbitrario, por ejemplo, 0
serie_con_valor_arbitrario = serie.fillna(0)

# Imprimir la Serie resultante
print(serie_con_valor_arbitrario)

0         1
1         3
2         7
3        11
4    Python
5      -0.5
6         0
dtype: object

15. Obtener los primeros y últimos n elementos de un objeto Series.

datos = list(range(1, 101))

In [18]:
# Crear una Serie a partir de los datos
datos = list(range(1, 101))
serie = pd.Series(datos)

# Especificar el número de elementos que quieres obtener
n = 5

# Obtener los primeros n elementos
primeros_n = serie.head(n)

# Obtener los últimos n elementos
ultimos_n = serie.tail(n)

# Imprimir los resultados
print("Primeros", n, "elementos:")
print(primeros_n)

print("\nÚltimos", n, "elementos:")
print(ultimos_n)

Primeros 5 elementos:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Últimos 5 elementos:
95     96
96     97
97     98
98     99
99    100
dtype: int64

16. Reemplazar por un valor arbitrario los valores de una serie que no satisfagan la condición de ser multiplos de 3 y 5.

datos = list(range(1, 100))

In [20]:
# Crear una Serie a partir de los datos
datos = list(range(1, 100))
serie = pd.Series(datos)

# Reemplazar los valores que no son múltiplos de 3 y 5 con el valor arbitrario 0
valor_arbitrario = 20
serie_filtrada = serie.mask(~((serie % 3 == 0) & (serie % 5 == 0)), valor_arbitrario)

# Imprimir la Serie resultante
print(serie_filtrada)

0     20
1     20
2     20
3     20
4     20
      ..
94    20
95    20
96    20
97    20
98    20
Length: 99, dtype: int64

17. Contar los valores repetidos en una serie.

datos = [5, 3, 5, 7, 7, 3, 1, 2, 3, 0]

In [21]:
# Crear una Serie a partir de los datos
datos = [5, 3, 5, 7, 7, 3, 1, 2, 3, 0]
serie = pd.Series(datos)

# Contar los valores repetidos
conteo_valores = serie.value_counts()

# Imprimir el resultado
print(conteo_valores)

3    3
5    2
7    2
1    1
2    1
0    1
Name: count, dtype: int64

18. Generar representación JSON de un objeto Series.

serie = pd.Series([1, 2, 3, 4, 5,6,7,8,])

In [22]:
# Crear una Serie a partir de los datos
serie = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])

# Generar la representación JSON de la Serie
representacion_json = serie.to_json()

# Imprimir la representación JSON
print(representacion_json)

{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8}

19. Encontrar los elementos que están dentro de un rango.

datos = [7, 2, 3, 5, 0, np.nan]

In [23]:
# Crear una Serie a partir de los datos
datos = [7, 2, 3, 5, 0, np.nan]
serie = pd.Series(datos)

# Especificar el rango
rango_inicio = 2
rango_fin = 5

# Encontrar los elementos dentro del rango
elementos_en_rango = serie[(serie >= rango_inicio) & (serie <= rango_fin)]

# Imprimir los elementos en el rango
print(elementos_en_rango)

1    2.0
2    3.0
3    5.0
dtype: float64

20. Guardar datos de un objeto Series en un archivo de Excel.

produccion = {'Enero': 1000, 'Febrero': 1100, 'Marzo': 900, 'Abril': 850, 'Mayo': 950}

In [24]:
# Crear una Serie a partir de los datos
produccion = pd.Series({'Enero': 1000, 'Febrero': 1100, 'Marzo': 900, 'Abril': 850, 'Mayo': 950})

# Especificar el nombre del archivo de Excel
nombre_archivo_excel = 'produccion.xlsx'

# Guardar los datos en un archivo de Excel
produccion.to_excel(nombre_archivo_excel, index_label='Mes', header=['Produccion'])

print("Datos guardados en", nombre_archivo_excel)

Datos guardados en produccion.xlsx

21. Usar la función filter para extraer elementos por su índice.

produccion = {'Enero': 1000, 'Febrero': 1100, 'Marzo': 900, 'Abril': 850, 'Mayo': 950}

In [25]:
# Crear un objeto Series a partir del diccionario
produccion = pd.Series({'Enero': 1000, 'Febrero': 1100, 'Marzo': 900, 'Abril': 850, 'Mayo': 950})

# Usar filter para extraer elementos por su índice
indices_a_filtrar = ['Enero', 'Marzo', 'Mayo']
resultado = produccion.filter(items=indices_a_filtrar)

# Imprimir el resultado
print(resultado)

Enero    1000
Marzo     900
Mayo      950
dtype: int64

## DataFrame

22. Crear un objeto DataFrame a partir de un objeto Series.

datos = [2, 3, 4, 7, 11, 12]

In [26]:
# Crear un objeto Series a partir de los datos
serie = pd.Series([2, 3, 4, 7, 11, 12])

# Crear un objeto DataFrame a partir de la Serie
df = pd.DataFrame(serie, columns=['Datos'])

# Imprimir el DataFrame resultante
print(df)

   Datos
0      2
1      3
2      4
3      7
4     11
5     12

23. Crear un objeto de la clase DataFrame.

datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

In [27]:
# Crear un diccionario de listas
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

# Crear un objeto DataFrame a partir del diccionario
df = pd.DataFrame(datos)

# Imprimir el DataFrame resultante
print(df)

   X  Y   Z
0  1  5   2
1  2  4   3
2  3  3   5
3  4  2   7
4  5  1  11

24. Obtener los nombres de las filas y las columnas de un DataFrame.

datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

In [28]:
# Crear un diccionario de listas
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

# Crear un objeto DataFrame a partir del diccionario
df = pd.DataFrame(datos)

# Obtener los nombres de las filas (índices)
nombres_filas = df.index.tolist()

# Obtener los nombres de las columnas
nombres_columnas = df.columns.tolist()

# Imprimir los nombres de las filas y columnas
print("Nombres de las filas:", nombres_filas)
print("Nombres de las columnas:", nombres_columnas)

Nombres de las filas: [0, 1, 2, 3, 4]
Nombres de las columnas: ['X', 'Y', 'Z']

25. Obtener los tipos de datos de las columnas de un DataFrame.

datos = {'real': [3.1415], 'entero': [0], 'fecha': [pd.Timestamp('20170121')], 
         'cadena': 'Python'}

In [29]:
# Crear un diccionario de listas
datos = {'real': [3.1415], 'entero': [0], 'fecha': [pd.Timestamp('20170121')], 'cadena': ['Python']}

# Crear un DataFrame a partir del diccionario
df = pd.DataFrame(datos)

# Obtener los tipos de datos de las columnas
tipos_de_datos = df.dtypes

# Imprimir los tipos de datos de las columnas
print(tipos_de_datos)

real             float64
entero             int64
fecha     datetime64[ns]
cadena            object
dtype: object

26. Mostrar un reporte con la información básica de un objeto DataFrame.

``` python
lenguajes = ['Python', 'Java', 'C#', 'JavaScript', 'C++', 'PHP']
agnio_creacion = [1990, 1995, 2013, 1995, 1985, 1995]
interpretado = [True, False, False, True, False, True]
extension = ['.py', '.java', 'cs', 'js', 'cpp', 'php']

indices = ['a', 'b', 'c', 'd', 'e', 'f']

datos = {'lenguaje': lenguajes, 'agnio_creacion': agnio_creacion, 'interpretado': interpretado, 'extesion': extension}

In [30]:
# Crear un DataFrame a partir de los datos
lenguajes = ['Python', 'Java', 'C#', 'JavaScript', 'C++', 'PHP']
agnio_creacion = [1990, 1995, 2013, 1995, 1985, 1995]
interpretado = [True, False, False, True, False, True]
extension = ['.py', '.java', 'cs', 'js', 'cpp', 'php']

indices = ['a', 'b', 'c', 'd', 'e', 'f']

datos = {'lenguaje': lenguajes, 'agnio_creacion': agnio_creacion, 'interpretado': interpretado, 'extension': extension}
df = pd.DataFrame(datos, index=indices)

# Mostrar un reporte con la información básica del DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lenguaje        6 non-null      object
 1   agnio_creacion  6 non-null      int64
 2   interpretado    6 non-null      bool
 3   extension       6 non-null      object
dtypes: bool(1), int64(1), object(2)
memory usage: 198.0+ bytes
None

27. Obtener las primeras n filas de un objeto DataFrame.

``` python
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [31]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Obtener las primeras 3 filas del DataFrame
primeras_filas = df.head(3)

# Imprimir las primeras filas
print(primeras_filas)

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí

28. Obtener las últimas n filas de un objeto DataFrame.
``` python
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

In [32]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Obtener las últimas 3 filas del DataFrame
ultimas_filas = df.tail(3)

# Imprimir las últimas filas
print(ultimas_filas)

   nombre  puntaje  intentos califico
h   Edgar      NaN         1       No
i   Angie      8.0         2       No
j  Irlesa     18.0         1       Sí

29. Seleccionar filas y columnas específicas de un DataFrame con iloc.

``` python

nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [33]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Seleccionar filas 'b', 'd' y 'f', y columnas en las posiciones 0 y 2
resultado = df.iloc[[1, 3, 5], [0, 2]]

# Imprimir el resultado
print(resultado)

    nombre  intentos
b  Daniela         3
d   Germán         3
f     Alex         3

30. Obtener la dimensión, el tamaño, y la forma de un objeto DataFrame.

datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

In [34]:
# Crear un DataFrame a partir de los datos
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}
df = pd.DataFrame(datos)

# Obtener la dimensión del DataFrame (número de filas y columnas)
dimension = df.shape

# Obtener el tamaño del DataFrame (número total de elementos)
tamano = df.size

# Obtener la forma del DataFrame (número de filas y columnas como tupla)
forma = df.shape

# Imprimir los resultados
print("Dimensión:", dimension)
print("Tamaño:", tamano)
print("Forma:", forma)

Dimensión: (5, 3)
Tamaño: 15
Forma: (5, 3)

31. Seleccionar los registros que tienen un campo nulo (nan).

``` python

nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [35]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Seleccionar los registros que tienen al menos un campo nulo
registros_nulos = df[df.isnull().any(axis=1)]

# Imprimir los registros nulos
print(registros_nulos)

   nombre  puntaje  intentos califico
d  Germán      NaN         3       No
h   Edgar      NaN         1       No

32. Seleccionar registros donde los valores de una columna estén en un rango.

```python

nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [37]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Seleccionar los registros donde el puntaje está entre 10 y 15
registros_rango = df.loc[(df['puntaje'] >= 10) & (df['puntaje'] <= 15)]

# Imprimir los registros en el rango de puntaje
print(registros_rango)

  nombre  puntaje  intentos califico
a  Oliva     11.5         1       Sí
g  Julio     13.5         1       Sí

33. Determinar los datos en un DataFrame que son nulos (NaN).

```python
nombres = ['Edward', 'Daniela', 'Germán']
edades = [5, 6, np.nan]
fecha_nacimiento = [pd.Timestamp('1990-01-03'), None, np.nan]

personas = {'nombre': nombres, 'edad': edades, 'fecha_nacimiento': fecha_nacimiento}

In [38]:
# Crear un DataFrame a partir de los datos
nombres = ['Edward', 'Daniela', 'Germán']
edades = [5, 6, np.nan]
fecha_nacimiento = [pd.Timestamp('1990-01-03'), None, np.nan]

personas = {'nombre': nombres, 'edad': edades, 'fecha_nacimiento': fecha_nacimiento}

df = pd.DataFrame(personas)

# Determinar los datos nulos en el DataFrame
datos_nulos = df.isnull()

# Imprimir los datos nulos
print(datos_nulos)

   nombre   edad  fecha_nacimiento
0   False  False             False
1   False  False              True
2   False   True              True

34. 
* Sumar los valores de una columna de un DataFrame con sum.
* Calcular el promedio de los valores de una columna de un DataFrame.

```python

nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [39]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Sumar los valores de la columna 'puntaje'
suma_puntaje = df['puntaje'].sum()

# Calcular el promedio de los valores de la columna 'puntaje'
promedio_puntaje = df['puntaje'].mean()

# Imprimir la suma y el promedio
print("Suma de puntajes:", suma_puntaje)
print("Promedio de puntajes:", promedio_puntaje)

Suma de puntajes: 101.5
Promedio de puntajes: 12.6875

35. Insertar una nueva columna en una posición arbitraria con la función insert.

```python
datos = {'W': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

In [40]:
# Crear un DataFrame a partir de los datos
datos = {'W': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}
indices = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(data=datos, index=indices)

# Insertar una nueva columna 'X' en la segunda posición
posicion = 1  # La segunda posición (0-indexed)
nueva_columna = [10, 20, 30, 40, 50]  # Valores para la nueva columna
nombre_columna = 'X'
df.insert(posicion, nombre_columna, nueva_columna)

# Imprimir el DataFrame resultante
print(df)

   W   X  Y   Z
a  1  10  5   2
b  2  20  4   3
c  3  30  3   5
d  4  40  2   7
e  5  50  1  11

36. Recorrer cada una de las columnas de un objeto DataFrame con items.

```python
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

In [41]:
# Crear un DataFrame a partir de los datos
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}
indices = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(data=datos, index=indices)

# Recorrer cada una de las columnas del DataFrame
for nombre_columna, columna in df.items():
    print(f"Columna '{nombre_columna}':")
    print(columna)
    print()  # Salto de línea para separar las columnas

Columna 'X':
a    1
b    2
c    3
d    4
e    5
Name: X, dtype: int64

Columna 'Y':
a    5
b    4
c    3
d    2
e    1
Name: Y, dtype: int64

Columna 'Z':
a     2
b     3
c     5
d     7
e    11
Name: Z, dtype: int64

37. Eliminar una fila de un DataFrame con la función drop.

```python
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [42]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Eliminar la fila con índice 'd'
df = df.drop('d', axis=0)

# Imprimir el DataFrame resultante
print(df)

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

38. Ordenar en modo descendente un DataFrame por diferentes columnas.

```python
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [43]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Ordenar primero por la columna 'puntaje' y luego por la columna 'nombre'
df_ordenado = df.sort_values(by=['puntaje', 'nombre'], ascending=False)

# Imprimir el DataFrame ordenado
print(df_ordenado)

    nombre  puntaje  intentos califico
f     Alex     19.0         3       Sí
j   Irlesa     18.0         1       Sí
c     Juan     15.5         2       Sí
g    Julio     13.5         1       Sí
a    Oliva     11.5         1       Sí
e   Edward      8.0         2       No
b  Daniela      8.0         3       No
i    Angie      8.0         2       No
d   Germán      NaN         3       No
h    Edgar      NaN         1       No

39. Reemplazar valores de una columna con la función map de un DataFrame.

```python
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [44]:
# Crear un DataFrame a partir de los datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Crear un diccionario para mapear 'Sí' a 1 y 'No' a 0
mapeo = {'Sí': 1, 'No': 0}

# Reemplazar los valores en la columna 'califico' utilizando map
df['califico'] = df['califico'].map(mapeo)

# Imprimir el DataFrame con los valores reemplazados
print(df)

    nombre  puntaje  intentos  califico
a    Oliva     11.5         1         1
b  Daniela      8.0         3         0
c     Juan     15.5         2         1
d   Germán      NaN         3         0
e   Edward      8.0         2         0
f     Alex     19.0         3         1
g    Julio     13.5         1         1
h    Edgar      NaN         1         0
i    Angie      8.0         2         0
j   Irlesa     18.0         1         1

40. Reemplazar valores que no cumplan una condición a través de la función DataFrame.where.

```python
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

In [46]:
import pandas as pd
import numpy as np

# Crear un DataFrame a partir de los datos
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}
indices = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(datos, index=indices)

# Reemplazar los valores de la columna 'X' que son mayores que 3 por NaN
df['X'] = df['X'].where(df['X'] <= 3, other=np.nan)

# Imprimir el DataFrame con los valores reemplazados
print(df)

     X  Y   Z
a  1.0  5   2
b  2.0  4   3
c  3.0  3   5
d  NaN  2   7
e  NaN  1  11

41. Renombrar las columnas de un objeto DataFrame.

```python
datos = {'Columna1': [1, 2, 3, 4, 5], 'Columna2': [5, 4, 3, 2, 1], 
         'Columna3': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

In [48]:
import pandas as pd
# Crear un DataFrame a partir de los datos
datos = {'Columna1': [1, 2, 3, 4, 5], 'Columna2': [5, 4, 3, 2, 1], 
         'Columna3': [2, 3, 5, 7, 11]}
indices = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(datos, index=indices)

# Renombrar las columnas
nuevos_nombres = {'Columna1': 'A', 'Columna2': 'B', 'Columna3': 'C'}
df = df.rename(columns=nuevos_nombres)

# Imprimir el DataFrame con las columnas renombradas
print(df)

   A  B   C
a  1  5   2
b  2  4   3
c  3  3   5
d  4  2   7
e  5  1  11

42. Seleccionar registros donde se cumpla una condición para los que SI calificaron.

```python
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

In [49]:
import pandas as pd
import numpy as np

nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(jugadores, index=indices)

# Seleccionar registros donde califico es 'Sí'
resultados_si = df.loc[df['califico'] == 'Sí']

# Imprimir los resultados
print(resultados_si)

   nombre  puntaje  intentos califico
a   Oliva     11.5         1       Sí
c    Juan     15.5         2       Sí
f    Alex     19.0         3       Sí
g   Julio     13.5         1       Sí
j  Irlesa     18.0         1       Sí

43. Usar operadores relacionales para comparar elementos de objetos DataFrame.

datos_1 = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

datos_2 = {'X': [8, 9, 3, 2, 1], 'Y': [9, 2, 0, 1, 1], 'Z': [2, 4, 13, 2, 11]}

In [50]:
import pandas as pd

datos_1 = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}
datos_2 = {'X': [8, 9, 3, 2, 1], 'Y': [9, 2, 0, 1, 1], 'Z': [2, 4, 13, 2, 11]}

df1 = pd.DataFrame(datos_1)
df2 = pd.DataFrame(datos_2)

# Comparar elementos de los DataFrames utilizando operadores relacionales
comparacion = df1 > df2

# Imprimir la comparación
print(comparacion)

       X      Y      Z
0  False  False  False
1  False   True  False
2  False   True  False
3   True   True   True
4   True  False  False

44. Agregar una nueva fila a una DataFrame con el método append.

datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

In [55]:
import pandas as pd

# DataFrame existente
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}
df = pd.DataFrame(datos)

# Nueva fila que deseas agregar
nueva_fila = {'X': 6, 'Y': 0, 'Z': 4}

# Agregar la nueva fila al DataFrame existente
df.loc[len(df)] = nueva_fila

# Imprimir el DataFrame con la nueva fila agregada
print(df)

   X  Y   Z
0  1  5   2
1  2  4   3
2  3  3   5
3  4  2   7
4  5  1  11
5  6  0   4